<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Entry Management</title>
</head>
<style>
  .nav-link {
    padding: 0 0.5rem !important;
  }

  .bg-custom {
    background-color: #26a69a;
  }

  .inner-container {
    min-height: calc(100vh - 70px);
    margin: auto;
    display: flex;
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
    <a class="navbar-brand" href="#">Entry Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/entries">Entries</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="inner-container">
      <div style="width: 100%; margin: 50px auto;">
        <div class="card" style="width: 100%; height: auto;">
          <div class="card-body">
            <h3 class="card-title text-center">Entries</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Check-In</th>
                  <th scope="col">Check-Out</th>
                  <th scope="col">Host Detail</th>
                </tr>
              </thead>
              <tbody id="tbody">
                <!-- <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>example@abc.com</td>
                    <td>+919988776655</td>
                    <td>some-time</td>
                    <td>some-time</td>
                  </tr>
                  <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>example@abc.com</td>
                  <td>+919988776655</td>
                  <td>some-time</td>
                  <td>some-time</td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    (async () => {
      const response = await fetch("http://localhost:1200/entry");
      const entries = await response.json();
      let tbody = document.getElementById("tbody");
      tbody.innerHTML = ``;
      entries.forEach((entry, index) => {
        tbody.innerHTML += `
          <tr>
            <th scope="row">${index+1}</th>
            <td>${entry.visitor.name}</td>
            <td>${entry.visitor.email}</td>
            <td>${entry.visitor.phone}</td>
            <td>${entry.visitor.checkin}</td>
            <td>${entry.visitor.checkout}</td>
            <td>${entry.host.name} | ${entry.host.email}<td/>
          </tr>
          `;
      });
    })();
  </script>
</body>

</html>
